@{
    ViewBag.Title = "ShopCheckoutStep1";
    Layout = "~/Views/Shared/_eCommerceLayout.cshtml";
}
<script type="text/javascript">
    $("#usarDireccionContacto").change(function () {
        if (this.checked) {
            alert('Its checked!!');
        } else {
            alert('Its not checked!!');
        }
    });

</script>

<div id="all">
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row d-flex align-items-center flex-wrap">
                <div class="col-md-7">
                    <h1 class="h2">Datos de envio</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb d-flex justify-content-end">
                        <li class="breadcrumb-item"><a href="@Url.Action("Home","Shared")">Inicio</a></li>
                        <li class="breadcrumb-item active">Datos de envio</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container">
            <div class="row">
                <div id="checkout" class="col-lg-9">
                    <div class="box border-bottom-0">
                        @using (Html.BeginForm())
                        {
                            <ul class="nav nav-pills nav-fill">
                                <li class="nav-item"><a href="shop-checkout1.html" class="nav-link active"> <i class="fa fa-address-book"></i><br>Datos del pedido</a></li>

                                <li class="nav-item"><a href="#" class="nav-link disabled"><i class="fa fa-eye"></i><br>Revisión del pedido</a></li>
                            </ul>
                            <div class="container">
                                <br />
                                <!--Metodo de entrega-->
                                <div class="panel panel">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h3><i class="fa fa-truck"></i> Método de entrega</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="content">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="box shipping-method">
                                                        <h4>Retira en sucursal</h4>
                                                        <p>La sucursal mas cercana.</p>
                                                        <div class="box-footer text-center">
                                                            <input type="radio" name="delivery" value="delivery1">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="box shipping-method">
                                                        <h4>Envio a domicilio</h4>
                                                        <p>Se cobraran cargos de envio.</p>
                                                        <div class="box-footer text-center">
                                                            <input type="radio" name="delivery" value="delivery2">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <!--Direccion-->
                                <div class="panel panel" id="panelDireccion">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h3><i class="fa fa-map-marker"></i> Direccion</h3>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    @Html.CheckBox("usarDireccionContacto", new { id = "usarDireccionContacto" }) Usar datos de contacto
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="content">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="firstname">Nombre</label>
                                                        <input id="firstname" type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="lastname">Apellido</label>
                                                        <input id="lastname" type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="phone">Telefono</label>
                                                        <input id="phone" type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="email">Email</label>
                                                        <input id="email" type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>

                                            <hr />
                                            <div class="row">
                                                <div class="col-sm-10" id="locationField">
                                                    <input id="autocomplete" placeholder="Ingrese su direccion de envio" class="form-control"
                                                           onFocus="geolocate()" type="text" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="route">Calle</label>
                                                        <input class="form-control" id="route"
                                                               disabled="disabled" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="street_number">Numero</label>
                                                        <input class="form-control" id="street_number"
                                                               disabled="disabled" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="locality">Ciudad</label>
                                                        <input class="form-control" id="locality"
                                                               disabled="disabled" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="administrative_area_level_1">Provincia</label>
                                                        <input class="form-control" id="administrative_area_level_1" disabled="disabled" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="postal_code">Zip code</label>
                                                        <input class="form-control" id="postal_code" disabled="disabled" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="country">Pais</label>
                                                        <input class="form-control" id="country" disabled="disabled" />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <br />
                                <!--Metodo de pago-->
                                <div class="panel panel">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h3><i class="fa fa-money"></i> Método de pago</h3>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-body">
                                        <div class="content">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="box payment-method">
                                                        <h4>Efectivo</h4>
                                                        <p>Usted paga cuando lo obtiene.</p>
                                                        <div class="box-footer text-center">
                                                            <input type="radio" name="payment" value="payment1">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="box payment-method">
                                                        <h4>Tarjeta de crédito</h4>
                                                        <p>VISA and Mastercard only.</p>
                                                        <div class="box-footer text-center">
                                                            <input type="radio" name="payment" value="payment2">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-footer d-flex flex-wrap align-items-center justify-content-between">
                                    <div class="left-col">
                                        <a href="@Url.Action("ShopBasket","OrdenCompra")" class="btn btn-secondary mt-0">
                                            <i class="fa fa-chevron-left"></i>Volver a la cesta
                                        </a>
                                    </div>
                                    <div class="right-col">
                                        <a href="@Url.Action("ShopCheckoutStep4","OrdenCompra")" class="btn btn-template-main">
                                            Revisión del pedido<i class="fa fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-3">
                    <div id="order-summary" class="box mb-4 p-0">
                        <div class="box-header mt-0">
                            <h3>Resúmen de la orden</h3>
                        </div>
                        <p class="text-muted text-small">El envío y los costos adicionales se calculan en función de los valores que ingresó.</p>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Orden subtotal</td>
                                        <th>$446.00</th>
                                    </tr>
                                    <tr>
                                        <td>Envío y traslado</td>
                                        <th>$10.00</th>
                                    </tr>
                                    <tr>
                                        <td>Impuestos</td>
                                        <th>$0.00</th>
                                    </tr>
                                    <tr class="total">
                                        <td>Total</td>
                                        <th>$456.00</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    // This example displays an address form, using the autocomplete feature
    // of the Google Places API to help users fill in the information.

    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    var placeSearch, autocomplete;

    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            { types: ['geocode'] });

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
            document.getElementById(component).value = '';
            document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
            }
        }
    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ&libraries=places&callback=initAutocomplete"
        async defer></script>
