
@{
    ViewBag.Title = "ShopDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="all">
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row d-flex align-items-center flex-wrap">
                <div class="col-md-7">
                    <h1 class="h2">Pantalon Chupin Negro</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb d-flex justify-content-end">
                        <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="shop-category-left.html">Hombre</a></li>
                        <li class="breadcrumb-item"><a href="shop-category-left.html">Pantalon</a></li>
                        <li class="breadcrumb-item active">Pantalon Chupin Negro</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container">
            <div class="row bar">
                <!-- LEFT COLUMN _________________________________________________________-->
                <div class="col-lg-9">
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p class="goToDescription"><a href="#detailsquare" class="scroll-to text-uppercase">Ver el detalle del producto, material & cuidado y dimensiones.</a></p>
                    <div id="productMain" class="row">
                        <div class="col-sm-6">
                            <div data-slider-id="1" class="owl-carousel shop-detail-carousel">
                                <div> <img src="img/pantalon-chupin.jpg" alt="" class="img-fluid"></div>
                                <div> <img src="img/pantalon-chupin.jpg" alt="" class="img-fluid"></div>
                                <div> <img src="img/pantalon-chupin.jpg" alt="" class="img-fluid"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="box">
                                <form>
                                    <div class="sizes">
                                        <h3>Talles disponibles</h3>
                                        <select class="bs-select">
                                            <option value="small">Pequeño</option>
                                            <option value="medium">Mediano</option>
                                            <option value="large">Largo</option>
                                            <option value="x-large">X Largo</option>
                                        </select>
                                    </div>
                                    <p class="price">$124.00</p>
                                    <p class="text-center">
                                        <button type="submit" class="btn btn-template-outlined"><i class="fa fa-shopping-cart"></i> Agregar al carrito</button>
                                        <button type="submit" data-toggle="tooltip" data-placement="top" title="Agregar a favoritos" class="btn btn-default"><i class="fa fa-heart-o"></i></button>
                                    </p>
                                </form>
                            </div>
                            <div data-slider-id="1" class="owl-thumbs">
                                <button class="owl-thumb-item"><img src="img/pantalon-chupin.jpg" alt="" class="img-fluid"></button>
                                <button class="owl-thumb-item"><img src="img/pantalon-chupin.jpg" alt="" class="img-fluid"></button>
                                <button class="owl-thumb-item"><img src="img/pantalon-chupin.jpg" alt="" class="img-fluid"></button>
                            </div>
                        </div>
                    </div>
                    <div id="details" class="box mb-4 mt-4">
                        <p></p>
                        <h4>Detalles del producto</h4>
                        <p>Joggin clásico para todos los días, con bolsillos delanteros.</p>
                        <h4>Material & care</h4>
                        <ul>
                            <li>Algodón de super calidad</li>
                            <li>Anti-peeling</li>
                            <li>No pierden su color con los lavados</li>
                            <li>No se encoje</li>
                            <li>Durabilidad </li>
                        </ul>
                        <blockquote class="blockquote">
                            <p class="mb-0"><em>En verano trabajamos con nuestro algodón rústico para mantenerte fresco y cómodo, mientras que en invierno utilizamos frisa elastizada para que mantengas tu temperatura.</em></p>
                        </blockquote>
                    </div>
                    <div id="product-social" class="box social text-center mb-5 mt-5">
                        <h4 class="heading-light">Compartilo con tus amigos</h4>
                        <ul class="social list-inline">
                            <li class="list-inline-item"><a href="#" data-animate-hover="pulse" class="external facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#" data-animate-hover="pulse" class="external gplus"><i class="fa fa-google-plus"></i></a></li>
                            <li class="list-inline-item"><a href="#" data-animate-hover="pulse" class="external twitter"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" data-animate-hover="pulse" class="email"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="box text-uppercase mt-0 mb-small">
                                <h3>Tambien pueden gustarte estos productos</h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="product">
                                <div class="image"><a href="#"><img src="img/campera-termica.jpg" alt="" class="img-fluid image1"></a></div>
                                <div class="text">
                                    <h3 class="h5"><a href="shop-detail.html">Campera<br> mujer</a></h3>
                                    <p class="price">$2500</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="product">
                                <div class="image"><a href="#"><img src="img/product1.jpg" alt="" class="img-fluid image1"></a></div>
                                <div class="text">
                                    <h3 class="h5"><a href="shop-detail.html">Tapado</a></h3>
                                    <p class="price">$5000</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="product">
                                <div class="image"><a href="#"><img src="img/campera-rayada-nino.jpg" alt="" class="img-fluid image1"></a></div>
                                <div class="text">
                                    <h3 class="h5"><a href="shop-detail.html">Niños</a></h3>
                                    <p class="price">$450</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="box text-uppercase mt-0 mb-small">
                                <h3>Productos que viste</h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="product">
                                <div class="image"><a href="#"><img src="img/campera-rayada-nino.jpg" alt="" class="img-fluid image1"></a></div>
                                <div class="text">
                                    <h3 class="h5"><a href="shop-detail.html">Niños</a></h3>
                                    <p class="price">$450</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="product">
                                <div class="image"><a href="#"><img src="img/campera-termica.jpg" alt="" class="img-fluid image1"></a></div>
                                <div class="text">
                                    <h3 class="h5"><a href="shop-detail.html">Campera<br> mujer</a></h3>
                                    <p class="price">$2500</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="product">
                                <div class="image"><a href="#"><img src="img/product1.jpg" alt="" class="img-fluid image1"></a></div>
                                <div class="text">
                                    <h3 class="h5"><a href="shop-detail.html">Tapado</a></h3>
                                    <p class="price">$5000</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <!-- MENUS AND FILTERS-->
                    <div class="panel panel-default sidebar-menu">
                        <div class="panel-heading">
                            <h3 class="h4 panel-title">Categories</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-pills flex-column text-sm category-menu">
                                <li class="nav-item">
                                    <a href="shop-category-left.html" class="nav-link d-flex align-items-center justify-content-between"><span>Hombre </span><span class="badge badge-secondary">42</span></a>
                                    <ul class="nav nav-pills flex-column">
                                        <li class="nav-item"><a href="shop-category-left.html" class="nav-link">Remeras</a></li>
                                        <li class="nav-item"><a href="shop-category-left.html" class="nav-link">Camisetas</a></li>
                                        <li class="nav-item"><a href="shop-category-left.html" class="nav-link">Pantalones</a></li>
                                        <li class="nav-item"><a href="shop-category-left.html" class="nav-link">Accesorios</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="shop-category-left.html" class="nav-link active d-flex align-items-center justify-content-between"><span>Dama  </span><span class="badge badge-light">123</span></a>
                                    <ul class="nav nav-pills flex-column">
                                        <li class="nav-item"><a href="shop-category-left.html" class="nav-link">Remeras</a></li>
                                        <li class="nav-item"><a href="shop-category-left.html" class="nav-link">Polleras</a></li>
                                        <li class="nav-item"><a href="shop-category-left.html" class="nav-link">Pantalones</a></li>
                                        <li class="nav-item"><a href="shop-category-left.html" class="nav-link">Accesorios</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="shop-category-left.html" class="nav-link d-flex align-items-center justify-content-between"><span>Niño  </span><span class="badge badge-secondary">11</span></a>
                                    <ul class="nav nav-pills flex-column">
                                        <li class="nav-item"><a href="shop-category-left.html" class="nav-link">Remeras</a></li>
                                        <li class="nav-item"><a href="shop-category-left.html" class="nav-link">Polleras</a></li>
                                        <li class="nav-item"><a href="shop-category-left.html" class="nav-link">Pantaloness</a></li>
                                        <li class="nav-item"><a href="shop-category-left.html" class="nav-link">Accesorios</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default sidebar-menu">
                        <div class="panel-heading d-flex align-items-center justify-content-between">
                            <h3 class="h4 panel-titlen">Colores</h3><a href="#" class="btn btn-sm btn-danger"><i class="fa fa-times-circle"></i><span class="d-none d-md-inline-block">Borrar</span></a>
                        </div>
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"><span class="colour white"></span> Blanco (14)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"><span class="colour blue"></span> Azul (10)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"><span class="colour green"></span>  Verde (20)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"><span class="colour yellow"></span>  Amarillo (13)

                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"><span class="colour red"></span>  Rojo (10)
                                        </label>
                                    </div>
                                </div>
                                <button class="btn btn-sm btn-template-outlined"><i class="fa fa-pencil"></i> Filtrar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

