@{
    ViewBag.Title = "Acerca";
    Layout = "~/Views/Shared/_eCommerceLayout.cshtml";
}

<div id="all">
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row d-flex align-items-center flex-wrap">
                <div class="col-md-7">
                    <h1 class="h2">Nosotros</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb d-flex justify-content-end">
                        <li class="breadcrumb-item">
                            @Html.ActionLink("Inicio", "Home", "Shared")
                        </li>
                        <li class="breadcrumb-item active">Nosotros</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container">
            <section class="bar">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="heading">
                            <h2> LACOSTA - Ropa informal </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div id="accordion" role="tablist">
                            <div class="card">
                                <div id="headingOne" role="tab" class="card-header">
                                    <h4 class="mb-0 mt-0">
                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Acerca de..</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" class="collapse show">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img src="img/logo.png" alt="" class="img-fluid">
                                            </div>
                                            <div class="col-md-8">
                                                <p class="lead">
                                                    Desde 2018, la marca LACOSTA se apoya en la autenticidad de sus raíces deportivas para proponer
                                                    un universo único gracias a una completa gama de productos de gran calidad para hombre, mujer
                                                    y niños..
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="headingTwo" role="tab" class="card-header">
                                    <h4 class="mb-0 mt-0">
                                        <a data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">Política de Cambio</a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" class="collapse">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img src="img/template-easy-code.png" alt="" class="img-fluid">
                                            </div>
                                            <div class="col-md-8">
                                                <p>
                                                    Si no estás conforme con nuestro producto o el talle no era el indicado, no te preocupes, podés
                                                    realizar el cambio del mismo dentro de los 20 días siguientes de haberlo recibido. Las prendas
                                                    deben estar en el mismo estado en que fueron despachadas con su etiqueta y sin indicios de haberse
                                                    usado.
                                                </p>
                                                <p>
                                                    Solo tenes que enviarnos un mail a reclamos@latinoropainformal.com con el asunto CAMBIO y explicarnos el motivo, para que
                                                    podamos ayudarte.
                                                </p>
                                                <p>
                                                    Volvé a preparar tu prenda para despacharla en OCA.
                                                </p>
                                                <p>
                                                    Todas nuestras prendas tienen GARANTIA DE CALIDAD, si eventualmente notas una falla, tambien podes escribirnos, en este caso
                                                    el asunto debe ser GARANTIA y en el texto debes explicarnos lo que está sucediendo. El criterio
                                                    de esta condición queda por cuenta de LATINO.
                                                </p>
                                                <p>
                                                    En cuanto a los costos del reenvio no te preocupes, lo importante es que quedes conforme con tu producto.
                                                </p>
                                                <p>
                                                    Los productos adquiridos en promociones o con cupones de descuento no tienen ni cambio ni devolución.
                                                </p>
                                                <p>
                                                    Recordá que podes enviarnos un Whatsapp si tenes alguna duda para que podamos ayudarte.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="video">
                            <div class="embed-responsive embed-responsive-4by3">
                                <iframe src="//www.youtube.com/embed/upZJpGrppJA" class="embed-responsive-item"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section class="bar background-pentagon no-mb">
            <div class="container">
                <div class="row showcase text-center">
                    <div class="col-md-3 col-sm-6">
                        <div class="item">
                            <div class="icon-outlined icon-sm icon-thin">
                                <i class="fa fa-align-justify"></i>
                            </div>
                            <h4>
                                <span class="h1 counter">580</span>
                                <br> Ventas
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="item">
                            <div class="icon-outlined icon-sm icon-thin">
                                <i class="fa fa-users"></i>
                            </div>
                            <h4>
                                <span class="h1 counter">100</span>
                                <br>Clientes Satisfechos
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="item">
                            <div class="icon-outlined icon-sm icon-thin">
                                <i class="fa fa-copy"></i>
                            </div>
                            <h4>
                                <span class="h1 counter">3</span>
                                <br>Puntos de retiro
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="item">
                            <div class="icon-outlined icon-sm icon-thin">
                                <i class="fa fa-font"></i>
                            </div>
                            <h4>
                                <span class="h1 counter">923</span>
                                <br>Productos disponibles
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>