
@{
    ViewBag.Title = "NotFound404";
    Layout = "~/Views/Shared/_eCommerceLayout.cshtml";
}

<div id="all">
    <div id="content">
        <div class="container">
            <div id="error-page" class="col-md-8 mx-auto text-center">
                <div class="box">
                    <p class="text-center"><a href="index.html"><img src="img/logo.png" alt="Obaju template"></a></p>
                    <h3>Lo sentimos - esta página ya no está aquí</h3>
                    <h4 class="text-muted">Error 404 - Page not found</h4>
                    <p class="buttons"><a href="index.html" class="btn btn-template-outlined"><i class="fa fa-home"></i> Ir al inicio</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
